<%- include("../partials/header") %>

<div class="container pr-5">
    <h1 class="text-center my-4">Create a new Board</h1>
    <div style="width:40%; margin:0 auto;">
        <form action="/boards" method="POST">
            <input class="form-control form-group" type="text" name="board[name]" placeholder="name">
            <button class="btn btn-lg btn-outline-primary btn-block my-2">Submit!</button>
        </form>

        <a href="/boards">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>